@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.skill-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 20%;
}
.skill {
    display: flex;
    flex-direction: column;
    width: 130px;
    align-items: center;
    margin-bottom: 20px;
}
.skill > img {
    width: 70px;
    margin-bottom: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.skill > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 3.6rem;
    text-align: center;
    letter-spacing: -0.05rem;
    margin: 1rem;
}
.skills-vector-frame {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    right: 0;
    bottom: 0;
    z-index: -10;
    width: 80%;
}
.skills-vector {
    max-height: 100%;
    width: 100%;
}
@media (max-width: 76.8rem) {
    .skills-vector-frame {
        width: 90%;
    }
    .skill-card-container {
        margin: 80px 10%;
    }
}
