.about-main {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 80px 55px 80px;
}
.about-main-left,
.about-main-right {
    width: 50%;
}
.about-main-right {
    display: flex;
    justify-content: flex-end;
}
.about-main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-link {
    color: #000;
}
.about-details {
    margin: 10px 0 32px 0;
}
.about-sub-heading {
    margin: 0;
    font-size: 3rem;
}
.about-details {
    font-size: 2rem;
}
.about-image {
    width: 52rem;
    max-width: 100%;
    max-height: 100%;
}
.vector-frame {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -10;
    width: 55%;
}
.about-vector {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
@media (max-width: 76.8rem) {
    .vector-frame {
        width: 90%;
    }

    .about-main {
        padding: 50px 45px;
    }
    .about-main-left,
    .about-main-right {
        width: 100%;
    }
    .about-details {
        font-size: 1.7rem;
    }
    .about-sub-heading {
        font-size: 2.3rem;
    }
}
